rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function checkAdmin() {
      return request.auth.uid != null && request.auth.token.admin == true && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles.admin == true;
    }
    match /data/items {
      allow read: if request.auth.uid != null;
    }
    match /users/{userId} {
      allow read: if request.auth.uid == userId || checkAdmin();
    }
    match /orders/{orderId} {
      allow read: if request.auth.uid != null && (request.auth.email == resource.data.email || checkAdmin());
      allow update: if checkAdmin();
    }

  }
}